@media screen and (max-width: 900px) {
  .logo,.bpic {
    display:none;
  }

  
}


.bignotiftxt{
	position: fixed;
    top: 0;
    left: 380px;
    text-align: center;
    color: #66cccc;
  font-family: "French Script MT";
  font-size: 350%;
  position: fixed;
  bottom:-20;
  top: -35px;
  margin-left: 20px;
}

body{ 
background:#b2a9b6;

}

a{color:white;
text-decoration:none;}

p3{color:#1b6192;
font-family:verdana;
font-size:15px;
font-weight:bold;}

p6{color:#1b6192;
font-family:verdana;
font-size:15px;
word-spacing:10px;}



#column-1,#column-2, #column-3,#column-4, #column-5, #column-6, #column-7,
#column-8, #column-9, #column-10, #column-11,#column-12, #column-13,#column-14,
#column-15, #column-16, #column-17, #column-18, #column-19, #column-20,
#column-21, #column-22, #column-23, #column-24, #column-25, #column-26,
#column-27, #column-28, #column-29, #column-30, #column-31
{
left:0px;
top:0px;
background:white;
width:580px;
height:80px;
border-radius:3px/3px;
font-size:15px;
font-family:verdana;
color:#1b6192;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

#postbox{
height:105px;
outline:none;

border:white;
background:#e9f0f2;

width:580px;
}

textarea{
    resize: none;
    font-family: "arial";
    border-radius: 10px;
    position: relative;
    bottom: 20px;
    margin: 0;
}
.lvid{
    position: relative;
    bottom: 30px;
    left: 50px;
    font-size: 15px;
    color: purple;
    width: 50px;
    height: 30px;
    margin: 0;
}
.takepic{
    position: relative;
    bottom: 38px;
    left: 70px;
    font-size: 15px;
    color: purple;
    width: 50px;
    height: 30px;
    margin: 0;
}


.selectpic{
    position: relative;
    bottom: 38px;
    left: 70px;
    font-size: 15px;
    color: purple;
    width: 50px;
    height: 30px;
    margin: 0;
}
#live{
    width:40px;
    height: 40px;
    margin: 0;
    position: relative;
    right: 20px;
    
   }

   #takeimg{
    width:40px;
    height: 40px;
    margin: 0;
    position: relative;
    right: 30px;
   }

   #chooseimg{
    width:40px;
    height: 40px;
    margin: 0;
    position: relative;
    right: 30px;
   }

   #tb{
    position: relative;
margin: 0;
width:150px;
    height: 50px;
  top:140px;
  left: 70px;
  border: 2px solid purple;
  background:none;
  border-radius:20px;
   }

   

   #selectimgb{
     position: relative;
margin: 0;
width:150px;
    height: 50px;
  top:140px;
  left: 90px;
  border: 2px solid purple;
  background:none;
  border-radius:20px;
   }

   #liveb{
    position: relative;
margin: 0;
width:130px;
    height: 50px;
  top:140px;
  left: 50px;
  border: 2px solid purple;
  background:none;
  border-radius:20px;
   }

   .profile{
    position: relative;
    top:5px;
   }

   .notif{
    font-size: 20px;
    font-family: "arial";
    position: relative;
    left:70px;
    bottom: 60px;
   }

   .time{
    position: relative;
    bottom:120px;
    left:70px;
    font-size:10px;
    font-family: "arial";
   }

   .dur{
    position: relative;
    bottom:77px;
    left:70px;
    font-size:10px;
    font-family: "arial";
   }

   .flame{
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 110px;
    left:370px;
   }

   .fire{
    height: 30px;
    width: 30px;
    position: relative;
    bottom: 110px;
    left:340px;
   }

#postboxpos{top:45px;
left:10px;
height:105px;
width:580px;
resize:none;
}


.post{top:70px;
left:240px;
position:absolute;
width:600px;
height:110px;


}

.post1{
  top:170px;
left:240px;
position:absolute;
width:600px;
height:110px;


}

.posthi{
  top:270px;
left:240px;
position:absolute;
width:600px;
height:110px;

}


.posthey{
 top:370px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postsup{
  top:470px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postyo{
  top:570px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postbro{
  top:670px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postha{
  top:770px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postlol{
  top:870px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postla{
  top:970px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postey{
  top:1070px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postabc{
  top:1170px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postdef{
  top:1270px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postghi{
  top:1370px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postjkl{
  top:1470px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postmno{
  top:1570px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postpq{
  top:1670px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postrs{
  top:1770px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.posttu{
  top:1870px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postvw{
  top:1970px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postxyz{
  top:2070px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postzyx{
  top:2170px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postwv{
  top:2270px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postut{
  top:2370px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postsr{
  top:2470px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postqp{
  top:2570px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.poston{
  top:2670px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postml{
  top:2770px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postkj{
  top:2870px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postih{
  top:2970px;
left:240px;
position:absolute;
width:600px;
height:110px;
}

.postgf{
  top:3070px;
left:240px;
position:absolute;
width:600px;
height:110px;
}



.profile{
  width: 50px;
  height: 50px;
}



/*.post1{top:290px;
left:240px;
position:absolute;
background:white;
width:580px;
height:600px;
border-radius:3px/3px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}
*/
.pos2{
    position: relative;
    top:30px;
    right: 10px;
margin: 0;
background:white;
width:580px;
height:600px;
border-radius:3px/3px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
}

#amount{
    position: relative;
    top:80px;
    color:purple;
    font-family: "arial"
}

#codpost{
    position: relative;
    top:30px;
    height: 400px;
    width: 580px;
}
#fire{
    
  height: 30px;
  width: 30px;
}

#fireb{
    position: relative;
    bottom: 65px;
    margin:0; 

    right: 10px;
    border:none;
    background:none;
}

#commentb{
    border:none;
    background:none;
    position: relative;
    bottom: 65px;
    right: 10px;
    margin:0; 

}

#caption1{
    margin:0;
    font-family: "Arial Unicode MS";
}

.poster{
    position: relative;
    top: 5px;
    color: purple;
}

.tag{
    margin: 0;
    color: blue;
}

#comment{
    height: 30px;
  width: 30px;
}

#repost{
    height: 50px;
    width: 50px;
}
#repostb{
    border:none;
    background:none;
    position: relative;
    bottom: 57px;
    right: 15px;
    margin:0; 
}


#post2text{left:40px;
top:0px;
padding-top:10px;
height:40px;
width:400px;}


.suggest{
    margin:0;
    position: relative;
    right: 10px;
background:white;

width:580px;
height:300px;
padding-left:10px;
padding-right:10px;
padding-top:10px;
border-radius:3px/3px;
}

#profilesuggest{
    width:50px;
    height: 50px;
    margin: 0;
    position: relative;
    top:30px;
}

.sug{
    margin: 0;
    color: purple;
    font-family: "arial";
}

.follow, .follow1{
  margin: 0;
  padding-top: 0;
    padding-bottom:0;
    position: relative;
    bottom: 35px;
    left:450px;
    height: 30px;
    width: 100px;
    background:none;
    border: 2px solid purple;
    border-radius: 30px;
 }  

 .follow1{
    position: relative;
    top:-20px;
    /*top:-2px;
    bottom: 5px;*/
 }


#profileimg1{
    width:50px;
    height: 50px;
    margin: 0;
    position: relative;
    right: 105px;
    top:35px;
}
 #profileimg{
    margin: 0;
    position: relative;
    right: 105px;
    top:30px;
    width:50px;
    height: 50px;
 }

#hey{
    position: relative;
    bottom: 15px;
    padding-bottom:0;
    color: purple;
    font-family: "arial";
    font-size:18px;
}

#sugname{
    margin: 0;
    position: relative;
    bottom: 10px;
    left:60px;
    color: purple;
    font-family: "arial";
    font-size: 20px;
}

#profpic{
height:30px;
}